<div class="container">
    <h2 class="text-center my-5">Feadback</h2>
</div>
<!--
<div class="events-list my-5 container w-50 mx-auto">
    <form action="/store" method="post">
        <div class="form-group my-2">
            <label for="title"> Name</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
    <div class="form-group my-2">
            <label for="price">Course Price</label>
            <input type="number" class="form-control" name="price" id="price">
        </div>
       
        <div class="form-group my-2">
            <label for="description">Course Description</label>
            <textarea  class="form-control" name="description" id="description">
            </textarea>
        </div>
        <input type="submit" value="Add Course" class="btn btn-dark">
    </form>
</div>
 -->
 <div class="events-list my-5 container w-50 mx-auto">
    <form action="/storeFeadback" method="post">
        <div class="form-group my-2">
            <label for="title"> Name</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
      
        <div class="form-group my-2">
            <label for="Feadback">Course Feadback</label>
            <textarea  class="form-control" name="Feadback" id="Feadback">
            </textarea>
        </div>
        <input type="submit" value="Add Feadback" class="btn btn-dark">
    </form>
</div>