<style>




    h2 {
        font-size: 30px;
        text-align:center;
        margin-bottom: 20px;
        color: #101729;
    }

    .my-5 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>

<div class="container">
    <h2 class="text-center my-5">I am Aya Shaker  </h2>
    <h2 class="text-center my-5">I am a back-end developer</h2>
</div>
<!--
<div class="container">
    <h2 class="text-center my-5">I am aya</h2>
    <h2 class="text-center my-5">I am back-end developer</h2>
</div> 
  body {
        background-image: url('https://www.bing.com/images/search?view=detailV2&ccid=aA4WB1Vv&id=CE72CF1EAA6393226DAF93C03BBC08C98CC0341B&thid=OIP.aA4WB1VvoZV01RYnUDQHhwHaEK&mediaurl=https%3A%2F%2Fwww.itl.cat%2Fpngfile%2Fbig%2F37-377626_istock-871148930-machine-learning-ai-artificial-intelligence.jpg&cdnurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.680e1607556fa19574d5162750340787%3Frik%3DGzTAjMkIvDvAkw%26pid%3DImgRaw%26r%3D0&exph=768&expw=1366&q=ai+photo&simid=608031927891683508&form=IRPRST&ck=149DA6C1400B54D3A671B3CAA8477C64&selectedindex=13&ajaxhist=0&ajaxserp=0&vt=0&sim=11');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } 
-->